<style>
 #shopify-section-Footer-Collection p,#shopify-section-Footer-Collection a,.site-footer-wrapper a{
    font-size: 16px;
  }
  #shopify-section-Footer-Collection .name_wrapper{
    color:{{ settings.color_footer_heading }};
  }
  .site-footer-wrapper .price,.site-footer-wrapper .on-sale,.site-footer-wrapper .compare-at{
    color:{{ settings.color_footer_text }};
  }
  @media only screen and (max-width: 767px){   
    #shopify-section-Footer-Collection p,#shopify-section-Footer-Collection a,.site-footer-wrapper a{
      font-size: 14px;
    }
  }

  @media screen and (max-width: 480px){
.footer_collection_grid .product-grid-item {
    width: 100%;
}
  }
</style>

{%- assign collection = collections[section.settings.collection] -%}

{% case section.settings.grid %}
  {% when 1 %}
    {% assign grid_width_large = 'large--one-third push--large--one-third clear' %}
    {% assign grid_width_medium = 'medium--one-half push--medium--one-quarter clear' %}
    {% assign grid_width_small = 'small--one-whole' %}
  {% when 2 %}
    {% assign grid_width_large = 'large--one-half' %}
    {% assign grid_width_medium = 'medium--one-half' %}
    {% assign grid_width_small = 'small--one-whole' %}
  {% when 3 %}
    {% assign grid_width_large = 'large--one-third' %}
    {% assign grid_width_medium = 'medium--one-third' %}
    {% assign grid_width_small = 'small--one-whole' %}
  {% when 4 %}
    {% assign grid_width_large = 'large--one-quarter' %}
    {% assign grid_width_medium = 'medium--one-half' %}
    {% assign grid_width_small = 'small--one-whole' %}
  {% when 5 %}
    {% assign grid_width_large = 'large--one-fifth' %}
    {% assign grid_width_medium = 'medium--one-third' %}
    {% assign grid_width_small = 'small--one-whole' %}
  {% when 6 %}
    {% assign grid_width_large = 'large--one-sixth' %}
    {% assign grid_width_medium = 'medium-up--one-sixth' %}
    {% assign grid_width_small = 'small--one-whole' %}
  {% else %}
    {% assign grid_width_large = 'large--one-quarter' %}
    {% assign grid_width_medium = 'medium--one-half' %}
    {% assign grid_width_small = 'small--one-whole' %}
{% endcase %}

{%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

<div class="homepage-collection2 site-footer-wrapper" data-section-id="{{ section.id }}" data-section-type="index-collection">
  <div class="wrapper">
    <div class="grid-uniform footer_collection_grid grid">
      {% for product in collection.products  limit: product_limit %}
        {% include 'product-grid-item-new' %}
      {% else %}
        {% include 'onboarding-featured-products' %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured Products"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type":    "range",
      "id":      "grid",
      "min":     1,
      "max":     6,
      "step":    1,
      "label":   "Products per row",
      "default": 3
    },
    {
      "type":    "range",
      "id":      "rows",
      "min":     1,
      "max":     8,
      "step":    1,
      "label":   "Number of rows",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}



