.plyr.plyr--full-ui.plyr--video {
    color: var(---color-text-dark);
    background-color: transparent
}

body:not(.focus-enabled) .plyr.plyr--full-ui.plyr--video {
    outline: none
}

.plyr.plyr--full-ui.plyr--video .plyr__video-wrapper {
    background-color: transparent
}

.plyr.plyr--full-ui.plyr--video .plyr__poster {
    background-color: var(---color_video_bg)
}

.plyr.plyr--full-ui.plyr--video:-webkit-full-screen .plyr__video-wrapper .plyr.plyr--full-ui.plyr--video:-webkit-full-screen .plyr__poster {
    background-color: #000
}

.plyr.plyr--full-ui.plyr--video:fullscreen .plyr__video-wrapper .plyr.plyr--full-ui.plyr--video:fullscreen .plyr__poster {
    background-color: #000
}

.plyr.plyr--full-ui.plyr--video:-webkit-full-screen .plyr__poster,
.plyr.plyr--full-ui.plyr--video:-webkit-full-screen .plyr__video-wrapper {
    background-color: #000
}

.plyr.plyr--full-ui.plyr--video:-moz-full-screen .plyr__poster,
.plyr.plyr--full-ui.plyr--video:-moz-full-screen .plyr__video-wrapper {
    background-color: #000
}

.plyr.plyr--full-ui.plyr--video:-ms-fullscreen .plyr__poster,
.plyr.plyr--full-ui.plyr--video:-ms-fullscreen .plyr__video-wrapper {
    background-color: #000
}

.plyr.plyr--full-ui.plyr--video .plyr--fullscreen-fallback .plyr__poster,
.plyr.plyr--full-ui.plyr--video .plyr--fullscreen-fallback .plyr__video-wrapper {
    background-color: #000
}

.plyr.plyr--full-ui.plyr--video .plyr__control.plyr__control--overlaid {
    background-color: #fff;
    border-color: var(---color-a5)
}

.plyr.plyr--full-ui.plyr--video .plyr__control.plyr__control--overlaid.plyr__tab-focus,
.plyr.plyr--full-ui.plyr--video .plyr__control.plyr__control--overlaid:hover {
    color: var(---color-a50)
}

.plyr.plyr--full-ui.plyr--video .plyr__controls {
    background-color: #fff;
    border-color: var(---color-a5)
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type=range]::-moz-range-thumb {
    box-shadow: 2px 0 0 0 #fff
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type=range]::-ms-thumb {
    box-shadow: 2px 0 0 0 #fff
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type=range]::-webkit-slider-thumb {
    box-shadow: 2px 0 0 0 #fff
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type=range]::-webkit-slider-runnable-track {
    background-image: linear-gradient(90deg, currentColor var(---value, 0), var(---color-a50) var(---value, 0))
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type=range]::-moz-range-track {
    background-color: var(---color-a50)
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type=range]::-ms-fill-upper {
    background-color: var(---color-a50)
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type=range].plyr__tab-focus::-webkit-slider-runnable-track {
    box-shadow: 0 0 0 4px var(---color-a20)
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type=range].plyr__tab-focus::-moz-range-track {
    box-shadow: 0 0 0 4px var(---color-a20)
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type=range].plyr__tab-focus::-ms-track {
    box-shadow: 0 0 0 4px var(---color-a20)
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type=range]:active::-moz-range-thumb {
    box-shadow: 0 0 0 3px var(---color-a20)
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type=range]:active::-ms-thumb {
    box-shadow: 0 0 0 3px var(---color-a20)
}

.plyr.plyr--full-ui.plyr--video .plyr__progress input[type=range]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px var(---color-a20)
}

.plyr.plyr--full-ui.plyr--video .plyr__progress .plyr__tooltip {
    background-color: var(---color-text-dark);
    color: #fff
}

.plyr.plyr--full-ui.plyr--video .plyr__progress .plyr__tooltip:before {
    border-top-color: var(---color-text-dark)
}

.plyr.plyr--full-ui.plyr--video.plyr--loading .plyr__progress__buffer {
    background-image: linear-gradient(-45deg, var(---color-a50) 25%, transparent 0, transparent 50%, var(---color-a50) 0, var(---color-a50) 75%, transparent 0, transparent)
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type=range] {
    color: #fff
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type=range]::-moz-range-thumb {
    box-shadow: 2px 0 0 0 var(---color-text-dark)
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type=range]::-ms-thumb {
    box-shadow: 2px 0 0 0 var(---color-text-dark)
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type=range]::-webkit-slider-thumb {
    box-shadow: 2px 0 0 0 var(---color-text-dark)
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type=range]::-webkit-slider-runnable-track {
    background-image: linear-gradient(90deg, currentColor var(---value, 0), hsla(0, 0%, 100%, .6) var(---value, 0))
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type=range]::-moz-range-track,
.plyr.plyr--full-ui.plyr--video .plyr__volume input[type=range]::-ms-fill-upper {
    background-color: hsla(0, 0%, 100%, .6)
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type=range].plyr__tab-focus::-webkit-slider-runnable-track {
    box-shadow: 0 0 0 4px hsla(0, 0%, 100%, .25)
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type=range].plyr__tab-focus::-moz-range-track {
    box-shadow: 0 0 0 4px hsla(0, 0%, 100%, .25)
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type=range].plyr__tab-focus::-ms-track {
    box-shadow: 0 0 0 4px hsla(0, 0%, 100%, .25)
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type=range]:active::-moz-range-thumb {
    box-shadow: 0 0 0 3px hsla(0, 0%, 100%, .25)
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type=range]:active::-ms-thumb {
    box-shadow: 0 0 0 3px hsla(0, 0%, 100%, .25)
}

.plyr.plyr--full-ui.plyr--video .plyr__volume input[type=range]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px hsla(0, 0%, 100%, .25)
}